<%- include("partials/header") %>
   <div class="wrapper">
       <div class="news">
           <% if(articles != null){ %>
    <% articles.forEach(function(article,index) { %>
        <a href="/article/<%- article.id%>" class="news__card">
            <img src="<%- article.thumbnail_url %>" alt="<%- article.title.rendered %>">
<h2><%- article.title.rendered %></h2>
<p><%- article.excerpt.rendered %></p>
 </a>
   <% }) %>
<% }else{ %>
No posts found.
<% } %>
</div>
</div>
<%- include("partials/footer") %>